.ui.red.label {
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.inline {
  display: inline-block;
}

.ui.cards > .card.left-info > .content {
  font-size: 17px;
}

.component-container {
  margin-left: 10px;
  margin-right: 10px;
}