
.secondary-section {
  height: 300px;
}

.background-blue {
  background-color: rgb(34, 90, 194);
}

.background-white {
  background-color: white;
}

.background-green {
  background-color: rgb(61, 158, 85);
}